<!DOCTYPE html>
<html>
<head>
<title>Learning Rails Again</title>
</head>

<body>
  <h1>This is Some Bullshit Title</h1>
  
  <%= link_to 'About', about_path %>
  
  <img src="https://f4.bcbits.com/img/0000297122_100.png"></img>
  <table>
    <tr>
      <td><h2>This is first column</h2></td>
      <td><h2>This is the second column</h2></td>
    </tr>
    <tr>
      <td><p>Performed suspicion in certainty so frankness by attention pretended. Newspaper or in tolerably education enjoyment. Extremity excellent certainty discourse sincerity no he so resembled. Joy house worse arise total boy but. Elderly up chicken do at feeling is. Like seen drew no make fond at on rent. Behaviour extremely her explained situation yet september gentleman are who. Is thought or pointed hearing he. </p></td>
      <td><p>Am terminated it excellence invitation projection as. She graceful shy believed distance use nay. Lively is people so basket ladies window expect. Supply as so period it enough income he genius. Themselves acceptance bed sympathize get dissimilar way admiration son. Design for are edward regret met lovers. This are calm case roof and.</p></td>
    </tr>
  </table>
  

</body>
</html>